*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
gradle/
app/.idea/libraries/common_.xml
app/.idea/.name
app/.idea/
.idea/
app/app-release.apk
keystoreVR.jks
