*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
gradle/
app/.idea/libraries/common_.xml
app/.idea/.name
app/.idea/
.idea/
app/app-release.apk
keystoreVR.jks
app/app-arm-release.apk
app/app-x86-release.apk
sdtl.keystore
app/app-armv7-release.apk
*.apk
