<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.twirling.SDTL">

    <!-- The app has largeHeap enabled which is required for loading large files. -->
    <!--suppress AndroidDomInspection -->
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="拓灵VR"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
        tools:replace="android:label, android:icon">
        <!-- This demo is singleTask since it makes launching via custom adb intents easier. -->
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.MyLightDesign">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="com.google.intent.category.CARDBOARD"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.MyLightDesign"/>
        <activity
            android:name=".activity.PlayLoadActivity"
            android:screenOrientation="portrait"
            android:uiOptions="splitActionBarWhenNarrow"/>
        <activity
            android:name=".activity.HLSActivity"
            android:screenOrientation="portrait"
            android:uiOptions="splitActionBarWhenNarrow"/>
        <activity
            android:name=".activity.AudioActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <category android:name="com.google.intent.category.CARDBOARD"/>
        </activity>
        <activity
            android:name=".activity.RTMPActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.MyLightDesign"/>
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.MyLightDesign"/>
        <activity
            android:name=".activity.WebActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.MyLightDesign"/>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent"/>
        <service android:name=".download.DownloadService"/>
        <receiver android:name=".download.DownloadReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED"/>
            </intent-filter>
        </receiver>
    </application>

    <!-- These permissions are used by Google VR SDK to get the best Google VR headset profiles. !-->
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.NFC"/>

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true"/>
    <uses-feature
        android:name="android.hardware.sensor.gyroscope"
        android:required="true"/>
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <meta-data
        android:name="UMENG_APPKEY"
        android:value="57690c95e0f55ad5d4002412"/>
    <meta-data
        android:name="UMENG_CHANNEL"
        android:value="Channel ID"/>
</manifest>